.header {
    background-color: blueviolet;   
    font-family: 'Comfortaa Regular'; 
    border-bottom:2px solid;
    border-image: conic-gradient(aqua, aqua, aqua, magenta, magenta, magenta, magenta) 1;

}

.nav-link {
    padding: 1.5rem 1rem !important;
    color: #ffffff;
}

.item-logo {
    font-size: large;
    font-family: 'Comfortaa Bold'; 
}


