.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*  Styling for Footer Component*/
.footer{
  background-color: #f8c829da;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  color: black;
}
.footer-links{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.footer-links a{
  color: black;
  
}
.footer-btn{
  margin-top: 15px;
  margin-bottom: 20px;
}

.text-center btn{
  border: 1px solid black;
  border-radius: 50%;
}
/*Styling done for footer section*/
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
