/*  Styling for Footer Component*/
.footer{
    background-color: #f8c829da;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: black;
    width: 100%;
  }
  .footer-links{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
  }

  .footer-links a{
    color: black;

  }
  .footer-btn{
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .text-center btn{
    border: 1px solid black;
    border-radius: 50%;
  }
  /*Styling done for footer section*/