@font-face {
  font-family: "Comfortaa Regular";
  src: url("./assests/fonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Comfortaa Bold";
  src: url("./assests/fonts//Comfortaa-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Comfortaa light";
  src: url("./assests/fonts/Comfortaa-Light.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'Comfortaa Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
